<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link href="./css/style.css" rel="stylesheet">
</head>

<body>
    <div class="main-content">
 {{>header}}
 <p>This site was create by Maha lakshmi. It uses data from mapbox</p>
    <img class="potrait" src="./img/PicsArt_11-11-10.49.33.jpg" alt="myImage">
    </div>
   
    {{>footer}}
</body>

</html>